html,body{
  padding: 0px; margin: 0px; height: 100%;
}
div{
  background: hsla(240,0%,0%,0.2);
  color: white;
}
#avo{
  width: 600px;
  height: 600px;
  position: relative;
}
#pai{
  width: 400px;
  height: 400px;
  position: static;
}
#filho{
  width: 50px;
  height: 50px;
  right:0px;
  bottom:0px;
  position:absolute;
}
